.hi{
    display:flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    justify-content:stretch;
    align-content:space-evenly;

}
.J{
    background-color: aqua;
    padding: 20px 30px;
}
.K{
    background-color: blueviolet;
    padding: 20px 30px;
}
.L{
    background-color: rgb(246, 89, 204);
    padding: 20px 30px;
}